name: Deploy Flutter Web to Appwrite

on:
  push:
    branches:
      - dev

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Install Dependencies
        run: flutter pub get

      - name: Run Test(s)
        run: flutter test

      - name: Build Web
        run: flutter build web 

      - name: Create Pull Request
        run: |
          if ! gh pr list --head dev --base main --json number --jq '.[0].number' | grep -q . ; then
            gh pr create --base main --head dev --title "Auto-merge dev to main" --body "Automated PR"
          else
            echo "Pull request already exists."
          fi
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

