name: Deploy Flutter Web to Appwrite

on:
  push:
    branches:
      - dev

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Install Dependencies
        run: flutter pub get

      - name: Run Test(s)
        run: flutter test

      - name: Build Web
        run: flutter build web 

      - name: Create Pull Request
        run: gh pr create --base main --head dev --title "Auto-merge dev to main" --body "Automated PR"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

